[submodule "SDL"]
path = SDL
url = https://github.com/libsdl-org/SDL.git
[submodule "FFmpeg"]
path = FFmpeg
url = https://github.com/FFmpeg/FFmpeg.git
[submodule "bzip2"]
path = bzip2
url = https://gitlab.com/bzip2/bzip2.git
[submodule "libjxl"]
path = libjxl
url = https://github.com/libjxl/libjxl.git
[submodule "freetype"]
path = freetype
url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "harfbuzz"]
path = harfbuzz
url = https://github.com/harfbuzz/harfbuzz.git
[submodule "nv-codec-headers"]
path = nv-codec-headers
url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "zlib"]
path = zlib
url = https://github.com/madler/zlib.git
[submodule "openexr"]
path = openexr
url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "x265_git"]
path = x265_git
url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "x264"]
path = x264
url = https://code.videolan.org/videolan/x264.git
[submodule "libwebp"]
path = libwebp
url = https://github.com/webmproject/libwebp.git
[submodule "libvpx"]
path = libvpx
url = https://github.com/webmproject/libvpx.git
[submodule "gnutls"]
	path = gnutls
	url = https://github.com/gnutls/gnutls.git
